*{
    padding: 0px;
    margin: 0px;
}

.root{
    background-color: rgba(148, 207, 226, 0.93);
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
}

.box{
    height: 320px;
    width: 400px;
    background-color: aliceblue;
    margin-top: 150px;
    margin-left: 500px;
}

.box p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(9, 47, 86, 0.933);
    font-size: x-large;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px grey;
}
#emailcol{
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: larger;
}
.box pre{
    margin-left: 30px;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}

#email{
    margin-left: 30px;
    padding: 2px;
    width: 320px;
    margin-top: 5px;
    margin-bottom: 45px;
}

button a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;
}
button{
    margin-left:30px;
    width: 330px;
    height: 30px;
    background-color: rgba(94, 94, 223);
}
button:hover{
    transition: 0.24s ease-in-out;
    background-color: rgba(148, 207, 226, 0.93);
    box-shadow: 1px 1px 3px 5px rgba(148, 207, 226, 0.93);
}