*{
    margin: 0px;
    padding: 0px;
}

.root{
    width: 100vw;
    height: 100vh;
    background-color: rgba(232, 156, 212, 0.899);
    display: flex;
}

.box{
    width: 400px;
    height: 300px;
    background-color: beige;
    margin-top: 150px;
    margin-left: 480px;
}

.box p{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    text-shadow: 2px 2px 4px grey;
    padding-top: 20px;
    font-size: x-large;
    margin-bottom: 30px;
}

#oldcol{
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 700;
}
#oldpass{
    margin-left: 20px;
    padding: 2px;
    margin-top: 3px;
    width: 340px;
    margin-bottom: 30px;
    border-radius: 5px;
}
#newcol{
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 700;
}
#newpass{
    margin-left: 20px;
    padding: 2px;
    margin-top: 3px;
    width: 340px;
    margin-bottom: 30px;
    border-radius: 5px;
}

button{
    background-color: chocolate;
    width: 350px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    font-weight: 900;
}
button:hover{
    background-color: rgba(232, 156, 212, 0.899);
    box-shadow: 1px 1px 4px 4px rgba(232, 156, 212, 0.899);
}